{% include "header.html" %}
{% load static %}

<body>
    
    <div class="content" id="content">
        <div class="section">
            <section>
                <h2>Business Analyst</h2>
                <p>Business Analysts are responsible for identifying business needs, analyzing processes, and recommending solutions to improve organizational performance. They work closely with stakeholders to gather requirements, document processes, and create detailed reports. Their role involves bridging the gap between business objectives and IT capabilities, ensuring that solutions align with business goals. Business Analysts also play a crucial role in project management, helping to ensure that projects are completed on time and within budget.</p>
            </section>
        </div>
        <div class="section">
            <section>
                <h2>Most Used Programming Languages and Tools</h2>
                <ul>
                    <li><strong>Excel:</strong> A key tool for data analysis, financial modeling, and creating reports.</li>
                    <li><strong>SQL:</strong> Used for querying databases and extracting data for analysis.</li>
                    <li><strong>Tableau:</strong> A data visualization tool used for creating interactive dashboards and reports.</li>
                    <li><strong>Power BI:</strong> A business analytics tool used for visualizing data and sharing insights across the organization.</li>
                    <li><strong>Microsoft Visio:</strong> Used for creating process maps, flowcharts, and diagrams to visualize business processes.</li>
                    <li><strong>JIRA:</strong> A project management tool used for tracking tasks, issues, and project progress.</li>
                    <li><strong>Confluence:</strong> A collaboration tool used for documenting requirements, processes, and project details.</li>
                    <li><strong>SAS:</strong> A software suite used for advanced analytics, data management, and business intelligence.</li>
                    <li><strong>Python:</strong> Used for data analysis, automation, and building custom analytical tools.</li>
                    <li><strong>R:</strong> A programming language used for statistical analysis and data visualization.</li>
                </ul>
            </section>
    </div>
    <div class="section">
        <section>
            <h2>Business Analyst Courses and Certifications</h2>
            <ul class="course-list">
                <li>
                    <h3>Business Analytics Specialization by Wharton (Coursera)</h3>
                    <a target="_blank" href="https://www.coursera.org/specializations/business-analytics">Business Analytics Specialization by Wharton (Coursera)</a>
                </li>
                <li>
                    <h3>Google Data Analytics Professional Certificate</h3>
                    <a target="_blank" href="https://www.coursera.org/professional-certificates/google-data-analytics">Google Data Analytics Professional Certificate</a>
                </li>
                <li>
                    <h3>Microsoft Certified: Power BI Data Analyst Associate</h3>
                    <a target="_blank" href="https://learn.microsoft.com/en-us/certifications/power-bi-data-analyst-associate/">Microsoft Certified: Power BI Data Analyst Associate</a>
                </li>

            </ul>
        </section>
    </div>
    
</body>
{% include "footer.html" %}

