{% include "header.html" %}
{% load static %}

<body>
    <div class="content" id="content">
        <div class="section">
            
            <section>
                <h2>Cloud Computing</h2>
                <p>Cloud Computing Professionals are responsible for managing and optimizing cloud-based infrastructure and services. They handle the deployment, management, and operation of cloud resources, ensuring that applications and data are accessible and scalable. Their role includes working with various cloud platforms to design and implement solutions that meet the organization's needs.</p>
            </section>
        </div>
        <div class="section">
            
            <section>
                <h2>Most Used Programming Languages and Tools</h2>
                <ul>
                    <li><strong>Python:</strong> Widely used for scripting and automating cloud tasks, as well as developing cloud-based applications.</li>
                    <li><strong>Terraform:</strong> An Infrastructure as Code (IaC) tool used for automating cloud resource provisioning.</li>
                    <li><strong>CloudFormation:</strong> AWS-specific IaC tool for defining and managing AWS resources.</li>
                    <li><strong>PowerShell:</strong> Used for automating tasks and managing cloud resources in Windows environments.</li>
                    <li><strong>Shell Scripting (Bash):</strong> Utilized for automation and management in Unix/Linux cloud environments.</li>
                    <li><strong>Docker:</strong> Containerization tool used for deploying and managing applications in cloud environments.</li>
                    <li><strong>Kubernetes:</strong> Orchestration tool for managing containerized applications across cloud environments.</li>
                    <li><strong>AWS CLI:</strong> Command-line interface for managing AWS services and resources.</li>
                    <li><strong>Azure CLI:</strong> Command-line tool for managing Microsoft Azure resources.</li>
                    <li><strong>Google Cloud SDK:</strong> Command-line tool for managing Google Cloud Platform services.</li>
                </ul>
            </section>
            
            </div>
    
            <div class="section">
                <section>
                    <h2>Cloud Computing Courses and Certifications</h2>
                    <ul class="course-list">
                        <li>
                            <h3>Amazon Web Services (AWS) Certified Solutions Architect</h3>
                            <a target="_blank" href="https://aws.amazon.com/certification/certified-solutions-architect-associate/">AWS Certified Solutions Architect - Associate</a>
                        </li>
                        <li>
                            <h3>Microsoft Certified: Azure Fundamentals</h3>
                            <a target="_blank" href="https://learn.microsoft.com/en-us/certifications/azure-fundamentals/">Microsoft Certified: Azure Fundamentals</a>
                        </li>
                        <li>
                            <h3>Google Cloud Certified - Professional Cloud Architect</h3>
                            <a target="_blank" href="https://cloud.google.com/certification/cloud-architect">Google Cloud Certified - Professional Cloud Architect</a>
                        </li>
                        <li>
                            <h3>Certified Kubernetes Administrator (CKA)</h3>
                            <a target="_blank" href="https://training.linuxfoundation.org/certification/certified-kubernetes-administrator-cka/">Certified Kubernetes Administrator (CKA)</a>
                        </li>

                    </ul>
                </section>
            </div>
            
    
    </div>
</body>
{% include "footer.html" %}