{% include "header.html" %}
{% load static %}

<body>
    <div class="content" id="content">

        <div class="section">
            <section>
                <h2>Cybersecurity Basics</h2>
                <p>Cybersecurity professionals focus on protecting systems, networks, and data from cyber threats. Their roles involve identifying vulnerabilities, implementing security measures, and responding to security incidents. Key areas include network security, application security, information security, and ethical hacking.</p>
            </section>
        </div>
        <div class="section">
            <section>
                <h2>Cybersecurity Fundamentals</h2>
                <p>Here are some essential concepts and practices in cybersecurity:</p>
                <ul>
                    <li><strong>Firewalls</strong>: Network security systems that monitor and control incoming and outgoing traffic based on predetermined security rules.</li>
                    <li><strong>Encryption</strong>: The process of converting information or data into a code to prevent unauthorized access.</li>
                    <li><strong>Antivirus Software</strong>: Programs designed to detect, prevent, and remove malware from computers and networks.</li>
                    <li><strong>Multi-Factor Authentication (MFA)</strong>: A security mechanism that requires two or more forms of verification to access an account or system.</li>
                    <li><strong>Intrusion Detection Systems (IDS)</strong>: Tools that monitor network or system activities for malicious activities or policy violations.</li>
                    <li><strong>Penetration Testing</strong>: Simulated cyberattacks conducted to identify and address security vulnerabilities in systems.</li>
                    <li><strong>Secure Coding Practices</strong>: Techniques used by developers to create secure applications and prevent vulnerabilities like SQL injection or cross-site scripting (XSS).</li>
                </ul>
            </section>
        </div>
        
        <div class="section">
            <section>
                <h2>Cybersecurity Courses and Certifications</h2>
                <ul class="course-list">
                    <li>
                        <h3>Introduction to Cyber Security Specialization</h3>
                        <a target="_blank"href="https://www.coursera.org/specializations/intro-cyber-security">Introduction to Cyber Security Specialization by NYU Tandon</a>
                    </li>
                    <li>
                        <h3>IBM Cybersecurity Analyst Professional Certificate</h3>
                        <a target="_blank"href="https://www.coursera.org/professional-certificates/ibm-cybersecurity-analyst">Introduction to Cyber Security Specialization by NYU Tandon</a>
                    </li>
                    <li>
                        <h3>Google Cybersecurity Professional Certificate</h3>
                        <a target="_blank"href="https://www.coursera.org/professional-certificates/google-cybersecurity">Introduction to Cyber Security Specialization by NYU Tandon</a>
                    </li>
                </ul>
            </section>
        </div>
        
    </div>
</body>
{% include "footer.html" %}