{% include "header.html" %}
{% load static %}

<body>
    <div class="content" id="content">
        <div class="section">
            
            <section>
                <h2>Network Administrators</h2>
                <p>Network Administrators are responsible for managing and maintaining an organization’s network infrastructure. Their tasks include configuring network hardware and software, monitoring network performance, ensuring network security, and troubleshooting connectivity issues. They also manage network devices such as routers, switches, firewalls, and ensure the network is reliable and secure.</p>
            </section>
        </div>
        <div class="section">
            
            <section>
                <h2>Most Used Programming Languages and Tools</h2>
                <ul>
                    <li><strong>Python:</strong> Used for scripting and automating network management tasks.</li>
                    <li><strong>PowerShell:</strong> Essential for automating network administration tasks in Windows environments.</li>
                    <li><strong>Bash:</strong> Utilized for scripting in Unix/Linux environments.</li>
                    <li><strong>SQL:</strong> Used for querying and managing network-related databases.</li>
                    <li><strong>Network Configuration Tools:</strong> Tools like Cisco IOS or Junos for configuring network devices.</li>
                    <li><strong>Wireshark:</strong> A network protocol analyzer for monitoring and diagnosing network traffic.</li>
                    <li><strong>Nmap:</strong> A network scanning tool used for discovering devices and vulnerabilities.</li>
                    <li><strong>Firewall Management Tools:</strong> Tools like pfSense or Fortinet for managing network security.</li>
                    <li><strong>VPN Solutions:</strong> Tools for creating secure remote connections, such as OpenVPN or Cisco AnyConnect.</li>
                    <li><strong>Network Monitoring Tools:</strong> Tools like Nagios, Zabbix, or SolarWinds for tracking network performance and health.</li>
                </ul>
            </section>
            
            </div>
    
            <div class="section">
                <section>
                    <h2>Network Administration Courses and Certifications</h2>
                    <ul class="course-list">
                        <li>
                            <h3>Cisco Certified Network Associate (CCNA)</h3>
                            <a target="_blank" href="https://www.cisco.com/c/en/us/training-events/training-certifications/certifications/associate/ccna.html">Cisco Certified Network Associate (CCNA)</a>
                        </li>
                        <li>
                            <h3>CompTIA Network+</h3>
                            <a target="_blank" href="https://www.comptia.org/certifications/network">CompTIA Network+</a>
                        </li>
                        <li>
                            <h3>Microsoft Certified: Windows Server Hybrid Administrator Associate</h3>
                            <a target="_blank" href="https://learn.microsoft.com/en-us/certifications/windows-server-hybrid-administrator/">Microsoft Certified: Windows Server Hybrid Administrator Associate</a>
                        </li>
                        <li>
                            <h3>Red Hat Certified System Administrator (RHCSA)</h3>
                            <a target="_blank" href="https://www.redhat.com/en/services/training/ex200-red-hat-certified-system-administrator-rhcsa-exam">Red Hat Certified System Administrator (RHCSA)</a>
                        </li>

                    </ul>
                </section>
            </div>
            
    
    </div>
</body>
{% include "footer.html" %}
