{% include "header.html" %}
{% load static %}

<body>
    <div class="content" id="content">
        <div class="section">
            <section>
                <h2>Product Management</h2>
                <p>Product Managers are responsible for guiding the development and lifecycle of products within an organization. They work closely with cross-functional teams, including engineering, marketing, and design, to ensure that the product meets market needs and aligns with business goals. Their role includes defining the product vision, strategy, and roadmap, gathering and prioritizing customer requirements, and ensuring that the product is delivered on time and within budget.</p>
            </section>
        </div>
        <div class="section">
            <section>
                <h2>Most Used Programming Languages and Tools</h2>
                <ul>
                    <li><strong>JIRA:</strong> Widely used for project management and tracking development progress.</li>
                    <li><strong>Trello:</strong> A collaboration tool used for organizing tasks and projects.</li>
                    <li><strong>Asana:</strong> Project management tool for tracking tasks, timelines, and team collaboration.</li>
                    <li><strong>Excel:</strong> Utilized for data analysis, reporting, and managing product-related metrics.</li>
                    <li><strong>Google Analytics:</strong> Used to track and analyze user data and product performance.</li>
                    <li><strong>SQL:</strong> Essential for querying databases and extracting insights related to product usage.</li>
                    <li><strong>Confluence:</strong> A documentation tool used for managing product requirements and team collaboration.</li>
                    <li><strong>Figma:</strong> Design tool used for creating product wireframes and prototypes.</li>
                    <li><strong>Slack:</strong> Communication tool widely used for team collaboration and real-time updates.</li>
                    <li><strong>GitHub:</strong> Version control tool used for managing code repositories and collaborating with development teams.</li>
                </ul>
            </section>
        </div>
        
    
        <div class="section">
            <section>
                <h2>Product Management Courses and Certifications</h2>
                <ul class="course-list">
                    <li>
                        <h3>Product Management Certificate by Cornell University</h3>
                        <a target="_blank" href="https://www.ecornell.com/certificates/business-management/product-management/">Product Management Certificate by Cornell University</a>
                    </li>
                    <li>
                        <h3>Google Project Management: Professional Certificate</h3>
                        <a target="_blank" href="https://www.coursera.org/professional-certificates/google-project-management">Google Project Management: Professional Certificate</a>
                    </li>
                    <li>
                        <h3>Product Management Program by UC Berkeley (Haas School of Business)</h3>
                        <a target="_blank" href="https://executive.berkeley.edu/programs/product-management">Product Management Program by UC Berkeley (Haas School of Business)</a>
                    </li>
                    <li>
                        <h3>Pragmatic Institute Product Management Certification</h3>
                        <a target="_blank" href="https://www.pragmaticinstitute.com/product/product-management-certification/">Pragmatic Institute Product Management Certification</a>
                    </li>
                    <li>
                        <h3>Product Strategy by Northwestern University (Kellogg School of Management)</h3>
                        <a target="_blank" href="https://www.coursera.org/learn/product-strategy">Product Strategy by Northwestern University (Kellogg School of Management)</a>
                    </li>
                </ul>
            </section>
        </div>
        
    
    </div>
</body>
{% include "footer.html" %}