{% include "header.html" %}
<body>
    <div class="content" id="content">
        <main>
            <section class="section">
                <div style="display: flex; align-items: flex-start;">
                    <div style="flex: 1; padding-right: 20px;">
                        <h2>LinkedIn Profile Setup Guide</h2>
                        <p>Follow these steps to set up and optimize your LinkedIn profile:</p>
                        <ul>
                            <li><strong>Create an Account:</strong> Visit LinkedIn, sign up with your email, and create a password. Enter your name and follow the prompts.</li>
                            <li><strong>Build Your Profile:</strong> Upload a professional photo and banner image that reflects your industry.</li>
                            <li><strong>Add Your Headline:</strong> Write a headline that highlights your role, expertise, or career goals.</li>
                            <li><strong>Write a Summary:</strong> Craft a summary that provides an overview of your professional background, skills, and career aspirations.</li>
                            <li><strong>Detail Your Experience:</strong> List your relevant jobs in reverse chronological order, including your title, company name, <br>dates of employment, and brief descriptions of responsibilities and achievements.</li>
                            <li><strong>Highlight Your Skills:</strong> Add up to 50 relevant skills that are in demand in your industry.</li>
                            <li><strong>Add Education:</strong> Include your educational background, degrees, certifications, and relevant courses.</li>
                            <li><strong>Request Recommendations:</strong> Ask colleagues, supervisors, or clients to write recommendations for you.</li>
                            <li><strong>Build Your Network:</strong> Connect with colleagues, classmates, and professionals. Personalize your connection requests.</li>
                            <li><strong>Follow Companies and Groups:</strong> Follow companies you’re interested in and join LinkedIn groups related to your field.</li>
                            <li><strong>Set Up Your Privacy Settings:</strong> Review privacy settings to control who can see your profile and activity.</li>
                            <li><strong>Regularly Update Your Profile:</strong> Keep your profile current with new achievements, roles, and skills. Engage with your network.</li>
                            <li><strong>Optimize for Keywords:</strong> Use industry-related keywords throughout your profile for better search visibility.</li>
                            <li><strong>Showcase Projects and Accomplishments:</strong> Add significant projects or achievements that demonstrate your skills and expertise.</li>
                            <li><h3>Sample Profiles:</h3><a href="https://www.linkedin.com/search/results/people/?industry=%5B%2296%22%2C%221594%22%2C%226%22%5D&keywords=veterans&origin=FACETED_SEARCH&sid=%2CcV" target="_blank">https://www.linkedin.com</a></li>
                        </ul>
                    </div>
                    <div style="flex: 1; padding-left: 20px; padding-right: 40px; margin-left: auto; max-width: 460px;">
                        <div style="margin-bottom: 20px;">
                            <iframe width="460" height="315" src="https://www.youtube.com/embed/bZ2xiTvVhpM?si=JsFEbucCyT1kY1lA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div>
                            <iframe width="460" height="315" src="https://www.youtube.com/embed/zd4ALKv8Das?si=FmUvWGOXg8nhkDY0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
{% include "footer.html" %}
