{% include "header.html" %}

<div class="container" id="content">
    <div class="resumeContent">
        <section class="section">
            <h2>Resume</h2>
            <p>Explore resume making tips, websites, and templates.</p>
        </section>
        
        <div class="section-card section-card-left">
            <section class="section">
                <h2>Resume Tips</h2>
                <ul>
                    <li><strong>Tailor Your Resume:</strong> Customize your resume for each job application. Highlight skills and experiences that match the job description.</li>
                    <li><strong>Use Clear, Concise Language:</strong> Avoid jargon and long-winded sentences. Be straightforward and to the point.</li>
                    <li><strong>Quantify Achievements:</strong> Use numbers and metrics to demonstrate your accomplishments. For example, "Increased sales by 20% in six months."</li>
                    <li><strong>Include Keywords:</strong> Incorporate keywords from the job description to pass through Applicant Tracking Systems (ATS).</li>
                    <li><strong>Highlight Relevant Experience:</strong> Focus on experiences that are directly related to the position you're applying for.</li>
                    <li><strong>Keep It Professional:</strong> Use a clean, professional format. Avoid flashy designs or fonts that might distract from the content.</li>
                    <li><strong>Proofread Carefully:</strong> Ensure there are no typos or grammatical errors. Consider having someone else review your resume.</li>
                    <li><strong>Include a Summary Statement:</strong> Start with a brief summary that highlights your key qualifications and career goals.</li>
                    <li><strong>Showcase Soft Skills:</strong> Demonstrate interpersonal skills like teamwork, communication, and problem-solving alongside technical skills.</li>
                    <li><strong>Keep It Updated:</strong> Regularly update your resume to reflect new skills, experiences, and achievements.</li>
                </ul>
            </section>
            <br>
            <br>
            <br>
        </div>
        <div class="section-card section-card-right">
            <section class="section2">
                <h2>Templates/Resume Builders</h2>
                <a href="https://create.microsoft.com/en-us/templates/resumes" target="_blank">Resume Templates From Microsoft</a>
                <br>
                <a href="https://www.canva.com/resumes/templates/" target="_blank">Resume Templates From Canva</a>
                <br>
                <a href="https://resume.io/resume-templates" target="_blank">Resume Templates From Resume.io</a>                
            </section>
        </div>
    
    </div>
</div>

{% include "footer.html" %}

