{% include "header.html" %}
{% load static %} 

<div class="container" style="padding-left: 20px;max-width:1040px;text-align:center;margin-left: auto;margin-right: auto;">
    <div class="content" style="text-align: left;">
        <h2>Our Vision and Mission</h2>
        <img src="{% static 'imgs/aboutus.png' %}" alt="Veterans for IT" style="max-width: 320px; float:right;border-radius: 10px;">
        <p>
            At "Veteran IT Guide", our vision is to empower veterans by equipping them with the knowledge and skills needed to succeed in the rapidly evolving field of information technology.
        </p>
        <p>
            We believe that the bravery and dedication shown by our veterans can be harnessed and redirected into meaningful and rewarding careers in IT.
        </p>
        <p>
            We aim to bridge the gap between military service and civilian employment by offering tailored education and training programs focused on computer technology.
        </p>
        <p>
            Our goal is to ensure that every veteran who walks through our doors leaves with the confidence, skills, and support needed to thrive in the tech industry.
        </p>
        <p>
            <div style="font-weight:bold; text-decoration:underline;">We are committed to:</div>
            <ul>
                <li><b>Providing Accessible Education:</b> Offering high-quality, easily accessible courses and resources that cater to various levels of experience in technology.</li>
                <li><b>Building a Strong Community:</b> Creating a supportive network of veterans, mentors, and industry professionals who are dedicated to helping each other grow and succeed.</li>
                <li><b>Facilitating Career Transitions:</b> Assisting veterans in translating their military skills into valuable IT competencies, and guiding them towards successful careers in the tech world.</li>
                <li><b>Advocating for Veteran Employment:</b> Partnering with companies and organizations to promote the hiring of veterans in IT roles, ensuring they have access to the best opportunities available.</li>
            </ul>
        </p>
        <p>
            Our mission is to honor the service of our veterans by providing them with the tools they need to build a new future in technology, one that is just as fulfilling and impactful as their time in uniform. Join us on this journey to unlock new opportunities and achieve your professional aspirations in the dynamic world of technology. Welcome to Veteran IT Guide, where your future in tech begins today.
        </p>
        <br>
        <br>
        <br>
        
    </div>
</div>
{% include "footer.html" %}

