{% include "header.html" %}
{% load static %} 

<body>
    <div class="content" id="content">
        <div class="section" style="text-align: center;">
            <img src="{% static 'imgs/vetcall.jpg' %}" height="auto" class="centered-image" width="1850px">
            <br>    
            <section class="contact-section" >
                <p style="color: #000000;"><strong>Email</strong> - vets2it@gmail.com</p>
                <p style="color: #000000;"><strong>Phone</strong> - Todo</p>
            </section>
        </div>
    </div>
</body>
{% include "footer.html" %}
