{% include "header.html" %}
{% load static %} 

<div class="container" id="content">
    <div class="resumeContent" style="width:70% !important;">
        <section class="section">
            
            <p style="width: 80%;">
                At Veteran IT Guide, we are committed to supporting veterans on their journey to a successful career in the tech industry. Whether you have questions, need guidance, or want to learn more about our programs, we're here to help. Reach out to us using any of the methods below, and a member of our team will get back to you as soon as possible.
            </p>

            <br>
        </section>
        
        <div class="section-card-left">
            <section class="section">
                <div>
                    <h2>Get in Touch</h2>
                    <p><strong>Phone:</strong> 267-291-4301</p>
                    <p>Call us during our business hours 8:00 AM EST to 5:00 PM EST, and speak directly with one of our support team members.</p>
                    <br>
                    
                    <p><strong>Email:</strong> <a href="mailto:vets2it@gmail.com">vets2it@gmail.com</a></p>
                    <p>Send us an email with your inquiries, and we’ll respond promptly with the information you need.</p>
                
                    <h3>Mailing Address:</h3>
                    <p>
                    Veteran IT Guide<br>
                    166 Birchwood Drive<br>
                    West Chester, PA, 19380<br>
                    </p>
                    
                    <h2>Follow Us on Social Media</h2>
                    <p><strong>Facebook:</strong> <a href="[Your Facebook Page Link]" target="_blank">Coming soon</a></p>
                    <p><strong>LinkedIn:</strong> <a href="[Your LinkedIn Page Link]" target="_blank">Coming soon</a></p>
                    <p><strong>Twitter:</strong> <a href="https://twitter.com/[Your Twitter Handle]" target="_blank">Coming soon</a></p>
                    <p><strong>Instagram:</strong> <a href="https://instagram.com/[Your Instagram Handle]" target="_blank">Coming soon</a></p>
                    <p>Stay connected with us on social media for the latest updates, news, and success stories from our veteran community.</p>
                    
                    <br>
                    <h2>Need Immediate Assistance?</h2>
                    <p>If you require immediate assistance or have urgent questions, please don't hesitate to call us at <strong>Veteran IT Guide</strong>. We are here to provide support when you need it most.</p>
                    
                    <p>We value your interest in our mission to empower veterans through education and career guidance in the tech industry. Thank you for considering Veteran IT Guide as your partner in this important journey. We look forward to hearing from you!</p>
                </div>
            </section>
            <br>
            <br>
            <br>
        </div>

        <div class="section-card-right">
            <section class="section" style="display: flex;">
                <img src="{% static 'imgs/contacus.jpeg' %}" alt="Contact Us" style="max-width: 290px;float:right;border-radius: 10px;">
            </section>
        </div>
    </div>
</div>

{% include "footer.html" %}
