{% include "header.html" %}
<body>
    <title>Donate - Veteran IT Guide</title>
    <div class="content" id="content">
        <main>
            <section class="hero">
                <h2>Donate</h2>
                <p>Explore our wide range of courses and tutorials designed to help you master the latest technologies and tools in the IT industry. Whether you're a beginner or an advanced learner, we have something for you.</p>
                <h1>
                    todo
                    either add paypal id or add stripe payment thing if nonprofit is setup
                </h1>
            </section>

        </main>
    </div>
    
</body>
{% include "footer.html" %}

