<footer class="" style="background-color: #002048;" > 
    <div class="container"> 
        <p>
            <a href="/about/" class="footerLink" >About Us</a>
            <a href="/contact/" class="footerLink" >Contact Us</a>
            <a href="/donate/" class="footerLink" >Donate</a>
        <p>
        
        <p>&copy; 2024 Veteran IT Guide. All rights reserved.</p>
    </div> 
</footer>

<script>
    const sidebar = document.getElementById('sidebar');
    const content = document.getElementById('content');
    const sidebarHoverZone = document.getElementById('sidebarHoverZone');
    const navBtn = document.getElementById('navBtn');

    let isSidebarOpen = false;

    navBtn.addEventListener('click', () => {
        isSidebarOpen = !isSidebarOpen;
        toggleSidebar();
    });

    sidebarHoverZone.addEventListener('mouseover', () => {
        if (!isSidebarOpen) {
            isSidebarOpen = true;
            toggleSidebar();
        }
    });

    document.addEventListener('mousemove', (event) => {
        const sidebarRect = sidebar.getBoundingClientRect();
        const hoverZoneRect = sidebarHoverZone.getBoundingClientRect();
        const mouseX = event.clientX;
        const mouseY = event.clientY;

        if (mouseX >= sidebarRect.left && mouseX <= sidebarRect.right &&
            mouseY >= sidebarRect.top && mouseY <= sidebarRect.bottom) {
            if (!isSidebarOpen) {
                isSidebarOpen = true;
                toggleSidebar();
            }
        } else if (isSidebarOpen) {
            isSidebarOpen = false;
            toggleSidebar();
        }
    });

    function toggleSidebar() {
        if (isSidebarOpen) {
            sidebar.classList.add('show');
            content.classList.add('sidebar-open');
        } else {
            sidebar.classList.remove('show');
            content.classList.remove('sidebar-open');
        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>