{% include "header.html" %}
<div class="content" id="content" style="text-align: center;">
    <section>
        <div class="loading-bar" id="loading-bar"></div>
        <div class="card">
            <h3>Username: {{ user.username }}</h3>
            <h3>Coding Languages: {{ user_info.coding_languages }}</h3>
            <h3>Career Interest: {{ user_info.tech_career_interest }}</h3> <!-- Fixed variable name -->
            <a href="{% url 'edit_profile' %}" class="btn">Edit</a>
        </div>
    </section>
</div>
{% include "footer.html" %}